<div class="items-container">
  <div>
    <ul>
      {% if items %} {% for item in items %}
      <input id="item_{{ item.id }}"name="item_id" type="hidden" value="{{ item.id }}" />
      <li
        class="list-item"
      >
      {% if item.completed %}
        <img 
          class="list-item-undo"
          src="{{ url_for('static', path='svg/refresh-cw.svg') }}"
          hx-post="/shopping/undo"
          hx-target=".items-container"
          hx-swap="outerHTML"
          hx-include="#item_{{ item.id }}"
          hx-indicator="#loading"
          hx-disabled-elt="this"
        ></img>
      {% else %}
        <input
          type="checkbox"
          class="todo-checkbox"
          hx-post="/shopping/complete"
          hx-target=".items-container"
          hx-swap="outerHTML"
          hx-include="#item_{{ item.id }}"
          hx-indicator="#loading"
          hx-disabled-elt="this"
          {% if item.completed %} checked disabled {% endif %}
        />
      {% endif %}
        <span
          class="{% if item.completed %} completed-list-item {% endif %}"
        >
          {{ item.name }}
        </span>
      </li>
      {% endfor %} {% else %} No items :D {% endif %}
    </ul>
  </div>
</div>
