anyio
alembic
asyncer
asyncpg
celery
python-dateutil
fastapi
httpx
humanize
jinja2
paho-mqtt
pydantic-settings
python-multipart
sqlmodel
redis
taskiq
taskiq-fastapi
taskiq-redis
typer[all]
uvicorn[standard]
