<article>
    <header>
        <h3>{{ recipe.name }}</h3>
        {% if recipe.url %}
            <h6>
                <a href="{{ recipe.url }}">External link 🔗</a>
            </h6>
        {% endif %}
    </header>
    {% if recipe.description %}{{ recipe.description | safe }}{% endif %}
</article>
<article>
    <header>
        Pictures
    </header>
    {% include "recipes/_partials/recipe_images.html" %}
</article>
{% if recipe.ingredients %}
    {% include "recipes/_partials/ingredients.html" %}
{% endif %}
<article>
    <header>
        Actions
    </header>
    <div role="group">
        <button hx-get="/recipes/{{ recipe.id }}/edit"
                hx-target="#content-container"
                hx-swap="innerHTML"
                hx-indicator="#loading"
                hx-push-url="true">Edit</button>
        <button class="secondary"
                hx-delete="/recipes/{{ recipe.id }}"
                hx-confirm="Are you sure you want to delete?"
                hx-target="#content-container"
                hx-swap="innerHTML"
                hx-indicator="#loading"
                hx-push-url="true">Delete</button>
    </div>
</article>
