<article>
    <header>
        {% if recipe.url %}
            <h3>
                <a href="{{ recipe.url }}" target="_blank">{{ recipe.name }} 🔗</a>
            </h3>
        {% else %}
            <h3>{{ recipe.name }}</h3>
        {% endif %}
    </header>
    {% if recipe.description %}{{ recipe.description | safe }}{% endif %}
</article>
<article>
    <header>
        Pictures
    </header>
    {% include "recipes/_partials/recipe_images.html" %}
</article>
{% if recipe.ingredients %}
    {% include "recipes/_partials/ingredients.html" %}
{% endif %}
