<article>
    <header>
        <h3>{{ recipe.name }}</h3>
        {% if recipe.url %}
            <h6>
                <a href="{{ recipe.url }}">External link 🔗</a>
            </h6>
        {% endif %}
    </header>
    {% if recipe.description %}{{ recipe.description | safe }}{% endif %}
</article>
<article>
    <header>
        Pictures
    </header>
    {% include "recipes/_partials/recipe_images.html" %}
</article>
{% if recipe.ingredients %}
    {% include "recipes/_partials/ingredients.html" %}
{% endif %}
