<div class="grid recipe-images-container recipes-grid">
    {% if images %}
        {% for image in images %}
            <div id="image-{{ image.id }}">
                <input type="hidden" name="images" value="{{ image.id }}" />
                <div class="grid">
                    <article>
                        <div class="card-img"
                             style="background-image:url('{{ image.file_name | image_url }}')"></div>
                        <footer>
                            <div class="grid">
                                <button class="secondary outline" _="on click remove #image-{{ image.id }}">❌ Remove</button>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
