<div class="grid recipe-images-container recipes-grid">
    {% if recipe.images %}
        {% for image in recipe.images %}
            <div class="grid">
                <article>
                    <a href="{{ image.file_name | image_url }}" target="_blank">
                        <div class="card-img"
                             style="background-image:url('{{ image.file_name | image_thumbnail }}')"></div>
                    </a>
                </article>
            </div>
        {% endfor %}
    {% endif %}
</div>
