<div class="grid recipes-grid">
    {% for recipe in recipes %}
        <article>
            <header class="card-header">
                {% if recipe.images %}
                    <div class="card-img clickable"
                         style="background-image:url('{{ recipe.images.0.file_name | image_thumbnail }}')"
                         hx-get="/recipes/{{ recipe.id }}"
                         hx-target="#content-container"
                         hx-swap="innerHTML"
                         hx-indicator="#loading"
                         hx-push-url="true"></div>
                {% else %}
                    <div class="card-img clickable"
                         style="background-image:url('{{ url_for('static', path='imgs/borgir.png') }}')"
                         hx-get="/recipes/{{ recipe.id }}"
                         hx-target="#content-container"
                         hx-swap="innerHTML"
                         hx-indicator="#loading"
                         hx-push-url="true"></div>
                {% endif %}
            </header>
            <h4 class="clickable"
                hx-get="/recipes/{{ recipe.id }}"
                hx-target="#content-container"
                hx-swap="innerHTML"
                hx-indicator="#loading"
                hx-push-url="true">{{ recipe.name | capitalize }}</h4>
        </article>
    {% endfor %}
</div>
{% if recipes | length == 0 %}Not found any recipes :({% endif %}
